<% @creatures.each do |creature| %>
<p>
<strong>Name: </strong><%= creature.name %>
<strong>Description: </strong><%= creature.description %>
</p>
<% end %>
<%= link_to "create", new_creature_path %>
